body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #6a5acd, #8a2be2);
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #6a5acd;
  color: white;
  border: none;
}